In [12]:
import pandas as pd

In [13]:
df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [15]:
df = pd.read_excel("weather_data.xlsx","Sheet1")
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

In [17]:
weather_data = {
'day' : ['1/1/2025','2/1/2025','3/1/2025'],
'temperature' : [32,35,28],
'windspeed' : [6,7,2],
'event' : ['Rain','Sunny','Snow']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2025           32          6   Rain
1  2/1/2025           35          7  Sunny
2  3/1/2025           28          2   Snow

In [19]:
# tuple list
weather_data = [
('1/2/2025',32,4,'Rain'),
('2/2/2025',30,6,'Rain'),
('3/3/2025',28,6,'Snow'),
]
dp = pd.DataFrame(weather_data,columns=['Date','temp','speed','event'])
dp

       Date  temp  speed event
0  1/2/2025    32      4  Rain
1  2/2/2025    30      6  Rain
2  3/3/2025    28      6  Snow

In [20]:
# list creation diffrent ways

In [23]:
weather_data = [
{'date':'1/2/2322','temp':32,'speed':4,'event':'rain'},
{'date':'1/2/2022','temp':22,'speed':3,'event':'dry'},
{'date':'1/2/2012','temp':28,'speed':9,'event':'snow'}
]
df = pd.DataFrame(weather_data)
df

       date  temp  speed event
0  1/2/2322    32      4  rain
1  1/2/2022    22      3   dry
2  1/2/2012    28      9  snow