In [15]:
import pandas as pd
df = pd.read_csv(r"D:\python\pandas\Holidaysindate\aapl_no_dates.csv")
len(df)
df

      Open    High     Low   Close    Volume
0   144.88  145.30  143.10  143.50  14277848
1   143.69  144.79  142.72  144.09  21569557
2   143.02  143.50  142.41  142.73  24128782
3   142.90  144.75  142.90  144.18  19201712
4   144.11  145.95  143.37  145.06  21090636
5   144.73  145.85  144.38  145.53  19781836
6   145.87  146.18  144.82  145.74  24884478
7   145.50  148.49  145.44  147.77  25199373
8   147.97  149.33  147.33  149.04  20132061
9   148.82  150.90  148.57  149.56  23793456
10  149.20  150.13  148.67  150.08  17868792
11  150.48  151.42  149.95  151.02  20922969
12  151.50  151.74  150.19  150.34  17243748
13  149.99  150.44  148.88  150.27  26252630

In [17]:
rng = pd.date_range(start="7/1/2017",periods=14,freq="B")

In [18]:
df.set_index(rng)
df

      Open    High     Low   Close    Volume
0   144.88  145.30  143.10  143.50  14277848
1   143.69  144.79  142.72  144.09  21569557
2   143.02  143.50  142.41  142.73  24128782
3   142.90  144.75  142.90  144.18  19201712
4   144.11  145.95  143.37  145.06  21090636
5   144.73  145.85  144.38  145.53  19781836
6   145.87  146.18  144.82  145.74  24884478
7   145.50  148.49  145.44  147.77  25199373
8   147.97  149.33  147.33  149.04  20132061
9   148.82  150.90  148.57  149.56  23793456
10  149.20  150.13  148.67  150.08  17868792
11  150.48  151.42  149.95  151.02  20922969
12  151.50  151.74  150.19  150.34  17243748
13  149.99  150.44  148.88  150.27  26252630

In [20]:
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

usb = CustomBusinessDay(calendar=USFederalHolidayCalendar())
usb

In [24]:
rng = pd.date_range(start="7/1/2017",periods=14,freq=usb)
rng

DatetimeIndex(['2017-07-03', '2017-07-05', '2017-07-06', '2017-07-07',
               '2017-07-10', '2017-07-11', '2017-07-12', '2017-07-13',
               '2017-07-14', '2017-07-17', '2017-07-18', '2017-07-19',
               '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='C')

In [25]:
df.set_index(rng,inplace=True)
df

              Open    High     Low   Close    Volume
2017-07-03  144.88  145.30  143.10  143.50  14277848
2017-07-05  143.69  144.79  142.72  144.09  21569557
2017-07-06  143.02  143.50  142.41  142.73  24128782
2017-07-07  142.90  144.75  142.90  144.18  19201712
2017-07-10  144.11  145.95  143.37  145.06  21090636
2017-07-11  144.73  145.85  144.38  145.53  19781836
2017-07-12  145.87  146.18  144.82  145.74  24884478
2017-07-13  145.50  148.49  145.44  147.77  25199373
2017-07-14  147.97  149.33  147.33  149.04  20132061
2017-07-17  148.82  150.90  148.57  149.56  23793456
2017-07-18  149.20  150.13  148.67  150.08  17868792
2017-07-19  150.48  151.42  149.95  151.02  20922969
2017-07-20  151.50  151.74  150.19  150.34  17243748
2017-07-21  149.99  150.44  148.88  150.27  26252630

## Creating own calender

In [41]:
from pandas.tseries.holiday import AbstractHolidayCalendar,nearest_workday,Holiday

class mybirthday(AbstractHolidayCalendar):
    rules = [
        Holiday('my birthday', month=7, day=24, observance=nearest_workday),
    ]

myc = CustomBusinessDay(calendar=mybirthday())
myc

In [42]:
pd.date_range(start="7/1/2024",end="7/30/2024",freq=myc)

DatetimeIndex(['2024-07-01', '2024-07-02', '2024-07-03', '2024-07-04',
               '2024-07-05', '2024-07-08', '2024-07-09', '2024-07-10',
               '2024-07-11', '2024-07-12', '2024-07-15', '2024-07-16',
               '2024-07-17', '2024-07-18', '2024-07-19', '2024-07-22',
               '2024-07-23', '2024-07-25', '2024-07-26', '2024-07-29',
               '2024-07-30'],
              dtype='datetime64[ns]', freq='C')

In [45]:
b= CustomBusinessDay(weekmask = 'Sun Mon')
pd.date_range(start="6/1/2025",end="6/30/2025",freq=b)

DatetimeIndex(['2025-06-01', '2025-06-02', '2025-06-08', '2025-06-09',
               '2025-06-15', '2025-06-16', '2025-06-22', '2025-06-23',
               '2025-06-29', '2025-06-30'],
              dtype='datetime64[ns]', freq='C')

## to_datetime

In [50]:
import pandas as pd
dates = ['2025-01-05', 'Jan 5,2025', '01/05/2025', '2017.01.05', '2017/01/05']
pd.to_datetime(dates,errors="coerce")

DatetimeIndex(['2025-01-05', 'NaT', 'NaT', 'NaT', 'NaT'], dtype='datetime64[ns]', freq=None)

In [10]:
import pandas as pd

dates = ['2025-01-05', 'Jan 5,2025', '01/05/2025', '2017.01.05', '2017/01/05']
pd.to_datetime(dates, errors="ignore")
# we can also use coerce

C:\Users\saiyyam agrawal\AppData\Local\Temp\ipykernel_22348\1360726700.py:4: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_datetime without passing `errors` and catch exceptions explicitly instead
  pd.to_datetime(dates, errors="ignore")

Index(['2025-01-05', 'Jan 5,2025', '01/05/2025', '2017.01.05', '2017/01/05'], dtype='object')

In [11]:
pd.to_datetime('5/1/2017', dayfirst=True)

Timestamp('2017-01-05 00:00:00')

In [12]:
pd.to_datetime('5$6$2025',format='%d$%m$%Y')

Timestamp('2025-06-05 00:00:00')

In [14]:
t = 1749122508
dt = pd.to_datetime(t,unit='s')
dt

Timestamp('2025-06-05 11:21:48')

In [24]:
dt.value

1749122508000000000

## Period and PeriodIndex

In [3]:
import pandas as pd
y = pd.Period('2025')
y

Period('2025', 'Y-DEC')

In [4]:
y.start_time

Timestamp('2025-01-01 00:00:00')

In [5]:
y.end_time

Timestamp('2025-12-31 23:59:59.999999999')

In [7]:
m=pd.Period('2025-1',freq='M')
m

Period('2025-01', 'M')

In [8]:
m.start_time

Timestamp('2025-01-01 00:00:00')

In [9]:
m.end_time

Timestamp('2025-01-31 23:59:59.999999999')

In [10]:
m+1

Period('2025-02', 'M')

In [16]:
d = pd.Period("2025-06-05",freq='D')
d

Period('2025-06-05', 'D')

In [17]:
d+1

Period('2025-06-06', 'D')

In [22]:
h = pd.Period("2025-06-05 23:00:00",freq='H')
h

C:\Users\saiyyam agrawal\AppData\Local\Temp\ipykernel_18992\2637867066.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  h = pd.Period("2025-06-05 23:00:00",freq='H')

Period('2025-06-05 23:00', 'h')

In [23]:
h.start_time

Timestamp('2025-06-05 23:00:00')

In [24]:
h.end_time

Timestamp('2025-06-05 23:59:59.999999999')

In [25]:
h+1

Period('2025-06-06 00:00', 'h')

In [ ]:
q = pd.Period('2025Q1')
q

Period('2025Q1', 'Q-DEC')

In [35]:
q.start_time

Timestamp('2025-01-01 00:00:00')

In [36]:
q.end_time

Timestamp('2025-03-31 23:59:59.999999999')

In [40]:
v = pd.Period('2025Q1',freq='Q-Jan')
v

C:\Users\saiyyam agrawal\AppData\Local\Temp\ipykernel_18992\3260313526.py:1: FutureWarning: 'Q-Jan' is deprecated and will be removed in a future version, please use 'Q-JAN' instead.
  v = pd.Period('2025Q1',freq='Q-Jan')

Period('2025Q1', 'Q-JAN')

In [41]:
v.start_time

Timestamp('2024-02-01 00:00:00')

In [42]:
v.asfreq('M',how='start')

Period('2024-02', 'M')

In [43]:
v2 = pd.Period('2018Q2', freq='Q-Jan')
v2

C:\Users\saiyyam agrawal\AppData\Local\Temp\ipykernel_18992\1958845440.py:1: FutureWarning: 'Q-Jan' is deprecated and will be removed in a future version, please use 'Q-JAN' instead.
  v2 = pd.Period('2018Q2', freq='Q-Jan')

Period('2018Q2', 'Q-JAN')

In [44]:
v2.start_time

Timestamp('2017-05-01 00:00:00')

In [46]:
v2-v

<-27 * QuarterEnds: startingMonth=1>

In [ ]:

idx = pd.period_range('2011','2017',freq='Q')
idx

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]')

In [50]:
# company like quarter end in jan
idx = pd.period_range('2011','2017',freq='Q-Jan')
idx

C:\Users\saiyyam agrawal\AppData\Local\Temp\ipykernel_18992\1683360871.py:2: FutureWarning: 'Q-Jan' is deprecated and will be removed in a future version, please use 'Q-JAN' instead.
  idx = pd.period_range('2011','2017',freq='Q-Jan')

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]')

In [51]:
idx[0].start_time

Timestamp('2010-11-01 00:00:00')

In [52]:
idx[0].end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [53]:
idx = pd.period_range('2011',periods=10,freq='Q-Jan')
idx

C:\Users\saiyyam agrawal\AppData\Local\Temp\ipykernel_18992\2712275387.py:1: FutureWarning: 'Q-Jan' is deprecated and will be removed in a future version, please use 'Q-JAN' instead.
  idx = pd.period_range('2011',periods=10,freq='Q-Jan')

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1'],
            dtype='period[Q-JAN]')

In [56]:
import numpy as np
ps = pd.Series(np.random.randn(len(idx)),idx)
ps

2011Q4    2.567136
2012Q1   -1.729654
2012Q2    1.312801
2012Q3   -0.177774
2012Q4    0.466516
2013Q1    2.041464
2013Q2    0.505246
2013Q3    0.180298
2013Q4   -1.194572
2014Q1    0.279122
Freq: Q-JAN, dtype: float64

In [57]:
ps.index

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1'],
            dtype='period[Q-JAN]')

In [59]:
ps['2011':'2013']

2011Q4    2.567136
2012Q1   -1.729654
2012Q2    1.312801
2012Q3   -0.177774
2012Q4    0.466516
2013Q1    2.041464
2013Q2    0.505246
2013Q3    0.180298
2013Q4   -1.194572
2014Q1    0.279122
Freq: Q-JAN, dtype: float64

In [60]:
pst = ps.to_timestamp()
pst

2010-11-01    2.567136
2011-02-01   -1.729654
2011-05-01    1.312801
2011-08-01   -0.177774
2011-11-01    0.466516
2012-02-01    2.041464
2012-05-01    0.505246
2012-08-01    0.180298
2012-11-01   -1.194572
2013-02-01    0.279122
Freq: QS-NOV, dtype: float64

In [63]:
pst.index

DatetimeIndex(['2010-11-01', '2011-02-01', '2011-05-01', '2011-08-01',
               '2011-11-01', '2012-02-01', '2012-05-01', '2012-08-01',
               '2012-11-01', '2013-02-01'],
              dtype='datetime64[ns]', freq='QS-NOV')

In [64]:
df = pd.read_csv("wmt.csv")
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [65]:
df.set_index('Line Item',inplace=True)

In [66]:
df = df.T
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [72]:
df.index = pd.PeriodIndex(df.index, freq='Q-Jan')
df.index

C:\Users\saiyyam agrawal\AppData\Local\Temp\ipykernel_18992\3402211124.py:1: FutureWarning: 'Q-Jan' is deprecated and will be removed in a future version, please use 'Q-JAN' instead.
  df.index = pd.PeriodIndex(df.index, freq='Q-Jan')

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]')

In [69]:
df["start_date"]=df.index.map(lambda x:x.start_time)
df

Line Item  Revenue  Expenses  Profit start_date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [70]:
df['end_time'] = df.index.map(lambda x:x.end_time)
df

Line Item  Revenue  Expenses  Profit start_date                      end_time
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999